/********************************************** config. gerais da estrutura da página */
* {
  box-sizing: border-box;    
}

a {
  text-decoration: none; /* todos os links sem sublinhado */
}

body {
  font-family: "Lucida Sans", sans-serif;
  margin: 0;
}

td {
  padding: 15px;
}

/* TABELA DE PROTUDOS*/

.menu-tab {
  color: white;
  background-color: #5995DA;
}

.carrinho {
  margin: 0;
  padding: 0;
}

.tab-prod{
  border: 1px solid #c3c3c3;
  border-collapse: collapse;
  width: 99.5%;
}
td i {
  padding: 0;
  margin: 0;
}
#x{
  margin-top: 4%;
  color: #FA8072;
}
.spd {
  margin-left: 45%;
}
.form-control {
  margin-left: 50%;
  width: 60px;
  height: 30px;
}

tr img {
  margin-top: %7;
  margin-left: 25px;
  width: 70px;
  height: 70px;
}


/* TABELA DE CONCLUIR COMPRA*/

.conclusao {
  position: static;
  margin-top: 4%;
  left: 57.3%;
  padding-top: 5px;
  border: 1px solid #c3c3c3;
  border-collapse: collapse;
}

.direita {
  padding-right: 20%;
}

.verde{
  color: green;
}

.finalizar {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 38%;
  color: black;
  border: 1.1px solid lightgreen;
  background-color: lightgreen;
}

.finalizar:hover {
  padding
  color: white;
  background-color: green;
}

.att {
  width: 72%;
  margin-left: 29%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  color: black;
  border: 1.1px solid lightgreen;
  background-color: lightgreen;
}

.att:hover {
  color: white;
  background-color: green;
}

.menu-total {
  padding: 0;
  padding-left: 28%;
  color:white;
  background-color: #5995DA;
}

.valor-prod {
  color: green;
}