/********************************************** config. gerais da estrutura da página */
* {
  box-sizing: border-box;    
}

a {
  text-decoration: none; /* todos os links sem sublinhado */
}

body {
  font-family: "Lucida Sans", sans-serif;
  margin: 0;
}

.menu-car {
  padding-left: 20px;
  padding-bottom: 50px;
  width: 95%;
  margin-left: 20px;
  background-color: #5995DA;
  color: #ffffff;
  border: 1px solid #c3c3c3;
}

.div-car {
  margin-left: 20px;
	width: 95%;
	border: 1px solid #c3c3c3;
  padding-bottom: 370px;
}

#x{
  margin-top: 50px;
  margin-left: 40px;
  color: #FA8072;
  float: left;
}

.menu-prod {
  float: left;
  margin-left: 250px;
}

.prod-one{
  width: 100%;
  float: left;
  border: 1px solid #c3c3c3;
  padding-bottom: 25px;
  color: #c3c3c3;
}
.prod-two {
  width: 100%;
  float: left;
  border: 1px solid #c3c3c3;
  padding-bottom: 25px;
  color: #c3c3c3;
}
.prod-three {
  width: 100%;
  float: left;
  border: 1px solid #c3c3c3;
  padding-bottom: 25px;
  color: #c3c3c3;
}
.menu-preco {
  float: left;
  margin-left: 250px;
}
.menu-qnt {
  float: left;
  margin-left: 100px;
}
.img-prod1 {
  margin-top: 25px;
  margin-left: 50px;
  width: 70px;
  height: 70px;
  float: left;
}
.desc-prod1 {
  float: left;
  margin-left: 75px;
  width: 128px;
  color: black;
  margin-top: 45px;
}

.preco-prod1{
  float: left;
  margin-left: 220px;
  color: green;
  margin-top: 45px;
}

.form-control {
  width: 60px;
  height: 30px;
  float: right;
  margin-top: 35px;
  position: relative;
  right: 70px;
}

.menu-total {
  margin-top: 20px;
  width: 40%;
  float:right;
  position: relative;
  left: 2px;
  padding-left: 110px;
  background-color: #5995DA;
  color: #ffffff;
  border: 1px solid #c3c3c3;
}

.conclusao {
  display: block;
  width: 40%;
  float: right;
  position: relative;
  left: 359px;
  border: 1px solid #c3c3c3;
  padding-bottom: 0px;
  margin-top: 71px;
  color: black;
}
.subtotal {
  margin: 0;
  width: 50%;
  float: left;
  padding-left:10px; 
  position: relative;
  border: 1px solid #c3c3c3;
  padding-top: 20px;
  padding-bottom: 20px;
}
.valor_tot {
  margin: 0;
  width: 50%;
  float: right;
  padding-left: 10px;
  position: relative;
  border: 1px solid #c3c3c3;
  padding-top: 20px;
  padding-bottom: 20px;
  color: green;
}
.entrega {
  margin: 0;
  width: 50%;
  float: left;
  padding-left:10px; 
  position: relative;
  border: 1px solid #c3c3c3;
  padding-top: 43px;
  padding-bottom: 44px;
}
.frete {
  font-size: small;
  margin: 0;
  width: 50%;
  float: right;
  padding-left: 10px;
  position: relative;
  border: 1px solid #c3c3c3;
  padding-top: 30px;
  padding-bottom: 30px;
}
.verde{
  color: green;
}

.total_fin {
  margin: 0;
  width: 50%;
  float: left;
  padding-left:10px; 
  position: relative;
  border: 1px solid #c3c3c3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.valor_fina {
  margin: 0;
  width: 50%;
  float: right;
  padding-left: 10px;
  position: relative;
  border: 1px solid #c3c3c3;
  padding-top: 20px;
  padding-bottom: 20px;
  color: green;
}

.finalizar {
  background-color: green;
  margin-top: 15px;
  width: 90%;
  float: left;
  padding-left: 80px;
  margin-left: 20px;
  position: relative;
  border: 1px solid #c3c3c3;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}